* {
  box-sizing: border-box;
}

header {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

footer {
  background-color: #000000;
  padding: 0 0 20px 0;
  margin-top: 15px;
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #ffffff;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 500;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  font-size: 1.15em;
  font-weight: 400;
}

h4 {
  font-size: 1.05em;
  font-weight: 400;
}

h5 {
  font-size: .8em;
  font-weight: 300;
}

img {
  width: 100%;
}

figure {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #ffffff;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #ffffff;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #ffffff;
  text-decoration: none;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #ffffff;
  text-decoration: none;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #000000;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:visited {
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
}

.button:active {
  text-decoration: none;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.logo {
  max-width: 150px;
  font-size: 1.75em;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px 0 0;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
}

nav>ul>li>a:visited {
  text-decoration: none;
}

nav>ul>li>a:hover {
  text-decoration: none;
}

nav>ul>li>a:focus {
  text-decoration: none;
}

nav>ul>li>a:active {
  text-decoration: none;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 6px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li:not(:last-child) {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 255);
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

#hero {
  padding-top: 100px;
  width: 100%;
}

#about-page {
  padding-top: 100px;
  width: 100%;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 10px 0 4px;
  }

  .row {
    margin: 50px 0;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 0px;
  }

  .col-md-6 {
    width: 50%;
  }

  body {
    font-size: 18px;
  }

  .logo {
    max-width: 250px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle.responsive li:not(:last-child) {
    display: inline-block;
    padding: 0;
    border: 0;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  nav>ul {
    margin: 1em 0;
  }

  [class*="col-"] {
    float: left;
    padding-right: 20px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h2 {
    margin-top: 50px;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  body {
    font-size: 20px;
  }
}
