* {
  box-sizing: border-box;
}

header {
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  padding: 10px;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  max-height: 150px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

footer {
  background-color: #000000;
  padding: 0 0 20px 0;
  margin-top: 15px;
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #ffffff;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 500;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  font-size: 1.15em;
  font-weight: 400;
}

h4 {
  font-size: 1.05em;
  font-weight: 400;
}

h5 {
  font-size: .8em;
  font-weight: 300;
}

img {
  width: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #ffffff;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #ffffff;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #ffffff;
  text-decoration: none;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #000000;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:visited {
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: underline;
}

.button:active {
  text-decoration: underline;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.logo {
  max-width: 250px;
  font-size: 1.75em;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px 0 0;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
}

nav>ul>li>a:visited {
  text-decoration: none;
}

nav>ul>li>a:hover {
  text-decoration: underline;
}

nav>ul>li>a:focus {
  text-decoration: underline;
}

nav>ul>li>a:active {
  text-decoration: none;
}

nav {
  display: inline-block;
  width: 100%;
}

#hero {
  padding-top: 150px;
  width: 100%;
}
